<section id="contact">
  <div class="container">
    <div class="row">
      <div class=" col-md-12 text-center">
        <h2>contact us</h2>
        <h3>Get in touch for more updates</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>E: <a>hello@uigrid.com</a></p>
        <p>P: +996 XXX XXXX</p>
        <p>
          Drop us a email with your Gamer Nick and we will schedule your Live
          match with one of our clan member.
        </p>
        <p>Game On - GO PRO</p>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="Name"
                  id="Name"
                  placeholder="Enter Name"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="Mail"
                  id="Mail"
                  placeholder="Enter Email"
                />
              </div>
              <textarea
                name="message"
                id="message"
                placeholder="Enter Message"
                cols="30"
                rows="4"
              ></textarea>
              <button type="submit" class="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
