<section id="joinus">
  <div class="container">
    <div class="row text-center title">
      <div class="text-center">
        <h2>WHY JOIN US?</h2>
        <h3>Experienced players all around the world</h3>
      </div>
    </div>
    <!-- <div class="row items">
      <div class="position-relative">
        <fa-icon [icon]="faChevronCircleLeft" id="left"></fa-icon>
        <fa-icon [icon]="faChevronCircleRight" id="right"></fa-icon>
      </div>
      <div class="slider">
        <div class="col-md-3" *ngFor="let img of images">
          <img src="{{ img }}" class="img-fluid" />
        </div>
      </div>
    </div> -->
    <div class="row owl-carousel">
      <owl-carousel
        [options]="{
          items: 4,
          navigation: true,
          loop: true,
          nav: true
        }"
        [items]="images"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let image of images; let i = index">
          <div>
            <img src="{{ image }}" class="img-fluid" />
          </div>
        </div>
      </owl-carousel>
    </div>
    <div class="text-center">
      <a href="/ourteam" class="btn">Join Our Team »</a>
      <small class="text-muted">Selection on basis of Live Matches!</small>
    </div>
  </div>
</section>
