/* You can add global styles to this file, and also import other style files */

$font-family: "Poppins", sans-serif;
$nav-height: 66px;
$colors: (
  blackBackground: #1a1a1a,
  grey: #6a6a6a,
  black: #2a2a2a,
  red: #ec3237,
  //crimson
    dark-red: #af2424,
  title-red: #c42d32,
  //firebrick
    light-red: #f7e8e8
);
@function color($color) {
  @return map-get($colors, $color);
}

*,
body,
html {
  font-family: $font-family;
}

section {
  padding-top: $nav-height;
  padding-bottom: 139px;
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
  }
}
