<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>GAMING CLAN</h1>
                <h3>Team of five representing Gaming Clan</h3>
                <p>Join Our Team</p>
                <a class="btn" routerLink="/contact">Contact Us »</a>
            </div>
        </div>
        <a class="scroll" routerLink="/expertise">
            <!-- <i class="fas fa-chevron-down"></i> -->
            <fa-icon [icon]="faChevronDown"></fa-icon>
        </a>
    </div>
</section>